@use './_variables.scss' as var;

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	scroll-behavior: smooth;
	margin: 0;

	scrollbar-color: var.$c-primary var.$c-background;
	scrollbar-width: thin;
	-webkit-tap-highlight-color: transparent;
}

html {
	font-family: var.$font-primary;
	color: var.$c-text;
	-webkit-text-size-adjust: 100%;

	font-size: 0.521vw;

	@media (width > 2000px) {
		font-size: 0.4vw;
	}

	@media (width > 3000px) {
		font-size: 0.36vw;
	}

	@media (width < 1200px) {
		font-size: 0.67vw;
	}

	@media (width < 768px) {
		font-size: 1.6vw;
	}
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	overscroll-behavior: none;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	isolation: isolate;
}
