//COLORS
$c-accent: #94000d;
$c-primary: #ecc8cf;
$c-secondary: #012b19;
$c-background: #ffffff;
$c-text: #000000;
$c-neutral-1: #494949;
$c-neutral-2: #acacac;
$c-neutral-3: #d9d9d9;
$c-neutral-4: #ededed;

//FONTS
$font-primary: 'Inter', serif;

//WEIGHT
$fw-regular: 400;
$fw-bold: 700;
$fw-semi: 600;
